@import "tailwindcss";

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: auto; /* Disable smooth scrolling for better control */
  -webkit-overflow-scrolling: touch; /* Add momentum scrolling for better mobile experience */
  text-rendering: optimizeSpeed; /* Optimize for high DPI displays */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000; /* Set a black background */
}

@keyframes spin-y {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.cube-spinner {
  animation: spin-y 20s linear infinite;
}
